[submodule "corelia-attachment-service"]
	path = corelia-attachment-service
	url = git@github.com:ilyabaykalov-corelia/corelia-attachment-service.git
[submodule "corelia-auth"]
	path = corelia-auth
	url = git@github.com:ilyabaykalov-corelia/corelia-auth.git
[submodule "corelia-common"]
	path = corelia-common
	url = git@github.com:ilyabaykalov-corelia/corelia-common.git
[submodule "corelia-document-service"]
	path = corelia-document-service
	url = git@github.com:ilyabaykalov-corelia/corelia-document-service.git
[submodule "corelia-gateway"]
	path = corelia-gateway
	url = git@github.com:ilyabaykalov-corelia/corelia-gateway.git
[submodule "corelia-platform-v"]
	path = corelia-platform-v
	url = git@github.com:ilyabaykalov-corelia/corelia-platform-v.git
[submodule "corelia-system-tests"]
	path = corelia-system-tests
	url = git@github.com:ilyabaykalov-corelia/corelia-system-tests.git
[submodule "corelia-workflow-service"]
	path = corelia-workflow-service
	url = git@github.com:ilyabaykalov-corelia/corelia-workflow-service.git
[submodule "corelia-configuration"]
	path = corelia-configuration
	url = git@github.com:ilyabaykalov-corelia/corelia-configuration.git
[submodule "corelia-config-compiler"]
	path = corelia-config-compiler
	url = git@github.com:ilyabaykalov-corelia/corelia-config-compiler.git
[submodule "corelia-web"]
	path = corelia-web
	url = git@github.com:ilyabaykalov-corelia/corelia-web.git